*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-red{
    background-color: red;
}

.background-green{
    background-color: #1ABC9C;
}

.background-darkblue{
    background-color: #2C3E50;
}

.background-white{
    background-color: white;
}

.background-black{
    background-color: black;
}

.border-black{
    border: 1px solid black;
}

.color-white{
    color: #ffffff;
}

/* inizio header */
header{
    background-color: #2C3E50;
}
/* fine header */

/* inizio main */
.container-medium{
    width: 80%;
    margin: 0 auto;
}

.avatar{
    width: 200px;
}

.line{
    height: 5px;
    width: 100%;
    max-width: 15%;
    border-radius: 3px;
}
/* fine main */

/* inizio footer */
footer{
    background-color: #3A546D;
}
/* fine footer */