*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-red{
    background-color: red;
}

.background-green{
    background-color: #1ABC9C;
}

.border-black{
    border: 1px solid black;
}

/* inizio header */
header{
    height: 80px;
    width: 100%;
    background-color: #2C3E50;
    display: flex;
    align-items: center;
}
/* fine header */

/* inizio main */
.container-medium{
    width: 80%;
    margin: 0 auto;
}